<h1>GOBBLET on Rails!</h1>


<pre>
  <%= @stuff[0] %>
  <%= @stuff[1] %>
  <%= @stuff[2] %>
</pre>


<%= form_tag do%>
	<p>Your move: <%= text_field_tag(:enterMove) %> </p>
	<p> <%= submit_tag "Enter Move"%> </p>
<% end %>
