<p id="notice"><%= notice %></p>

<p>
  <strong>Whitepieces:</strong>
  <%= @game_state.whitePieces %>
</p>

<p>
  <strong>Blackpieces:</strong>
  <%= @game_state.blackPieces %>
</p>

<p>
  <strong>Board:</strong>
  <%= @game_state.board %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @game_state.turn %>
</p>

<%= link_to 'Edit', edit_game_state_path(@game_state) %> |
<%= link_to 'Back', game_states_path %>
